/* Variable CSS */

.TextSmaller {
  font-size: var(--t-smaller-text);
  font-weight: var(--t-smaller-weight);
}

.TextSmallerShadow {
  font-size: var(--t-smaller-text);
  font-weight: var(--t-smaller-weight);
  color: var(--c-shadow-text);
}

.TextSmall {
  font-size: var(--t-small-text);
  font-weight: var(--t-small-weight);
}

.TextLight {
  font-size: var(--t-light-text);
  font-weight: var(--t-light-weight);
}

.TextMedium {
  font-size: var(--t-medium-text);
  font-weight: var(--t-medium-weight);
}

.TextMediumShadow {
  font-size: var(--t-medium-text);
  font-weight: var(--t-medium-weight);
  color: var(--c-shadow-text);
}

.TextBold {
  font-size: var(--t-bold-text);
  font-weight: var(--t-bold-weight);
}

.TextBolder {
  font-size: var(--t-bolder-text);
  font-weight: var(--t-bolder-weight);
}

.TextExtraBolder {
  font-size: var(--t-extra-bolder-text);
  font-weight: var(--t-extra-bolder-weight);
}
