.Card {
  min-width: 200px;
  width: 200px;
  height: 260px;
  border-radius: 16px;
  padding: 22px 20px;
  background: var(--c-background);
  box-shadow: 0 3px 4px #222;
  .Top {
    @mixin SpaceBetween;
  }

  .Center {
    @mixin ColumnFlex;
    padding-top: 50px;
    line-height: 34px;
  }

  .Footer {
    @mixin SpaceBetween;
    padding-top: 39px;
    .date {
      @mixin ColumnFlexCenter;
    }
  }

  /* CreditCard Custom Style */
  &.MasterCard {
    background: #fff;

    .Center {
      p {
        &:first-child {
          color: var(--c-bg-mastercard);
        }
      }
    }

    .Footer {
      p {
        color: var(--c-t-mastercard);
      }
    }
  }
  &.Bitcoin {
    background: var(--c-black);
  }
}
