.Sheet {
  [data-rsbs-overlay] {
    margin: 0;
  }
}
.Expenses {
  padding: 96px 30px 16px;
  .bar {
    overflow: hidden;
    background-color: #fff;
    position: fixed;
    display: block;
    top: 19px;
    width: 86%;
    height: auto;

    .topBar {
      @mixin SpaceBetween;
      padding-top: 25px;
      p {
        color: var(--c-primary-text);
      }
    }
  }
}
