.Statement {
  background: var(--c-background-light-blue);
  height: 50vh;
  border-radius: 36px 36px 0 0;
  .content {
    padding: 26px 30px;
    @mixin SpaceBetween;
    .income,
    .spent {
      @mixin ColumnFlex;
    }
    h4 {
      color: var(--c-dollar);
    }
  }
}
