@import './variable.css';

* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-overflow-scrolling: touch;
  user-select: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &:focus {
    outline: 0;
  }
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--c-background);
  max-width: 640px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
p {
  color: var(--c-text);
}
