:root {
  /* BASE COLOR */
  --c-text: #fff;
  --c-black: #030710;
  --c-primary-text: #081c81;
  --c-shadow-text: #c4c4c4;
  --c-background: #081c81;
  --c-background-light-blue: #2547f4;

  /* TYPOGRAPHY */
  --t-small-text: 8px;
  --t-small-weight: 400;

  --t-light-text: 16px;
  --t-light-weight: 300;

  --t-medium-text: 17px;
  --t-medium-weight: 400;

  --t-bold-text: 22px;
  --t-bold-weight: 600;

  --t-bolder-text: 28px;
  --t-bolder-weight: 600;

  /*** Bottom Sheet Style ***/

  /* Hide Footer Color */
  --rsbs-bg: #fff;
  --rsbs-ml: 7px;
  --rsbs-mr: 7px;
  --sheet-radius: 36px;
  /* Backdrop Shadow */
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0);
}
